
      .send-button{
        background-color: rgb(25, 135, 84); 
        color: #ffffff;
        padding: 12px  20 px;
        margin: 10px;
        border:none;
        border-radius: 5px;
        font-size: medium;
        cursor: pointer;


      }
      .chat-input{
         padding:12px 15px;
         border-radius:10px;
         border-width: 1px;
         font-size: 15px;

         flex-grow: 1;
        
      }
      .chat-input-container{
        display: flex;
        margin-bottom: 60px;
       
        
      }